// ===================================
// theme colors
//====================================

$theme--white: #ffffff;
$theme--50thshade-of-grey: #ececee;
$theme--51stshade-of-grey: #4d4d4d;
$theme--52ndshade-of-grey: #e2e2e2;
$theme--green: #00cc9c;
$theme--green--hover: #005151;
$theme--green--light: #bff2e6; 